/* ~/.config/matugen/templates/waypaper.css */
window {
  background-color: {{colors.background.default.hex}};
  color: {{colors.on_background.default.hex}};
}
button {
  background-color: {{colors.surface.default.hex}};
  color: {{colors.on_surface.default.hex}};
  border-radius: 8px;
}
button:hover {
  background-color: {{colors.surface_variant.default.hex}};
  color: {{colors.on_surface_variant.default.hex}};
}
