/*
#   Kiroshi Base Rofi Theme
#   Adapted from Stephan Raabe (2023)
#   Customized for centered layout and Matugen compatibility
*/

/* ---- Configuration ---- */
configuration {
    modi:                       "drun,filebrowser,window,run";
    font:                       "Fira Sans 11";
    show-icons:                 true;
    icon-theme:                 "kora";
    display-drun:                " apps";
    display-run:                 " term";
    display-filebrowser:         "  files";
    display-window:              " window";
	drun-display-format:        "{name}";
    hover-select:               true;
    scroll-method:              1;
    me-select-entry:            "MouseSecondary";
    me-accept-entry:            "MousePrimary";
    window-format:              "{w} · {c} · {t}";
}

/* ---- Load font ---- */
@import "~/.config/K480X/settings/rofi-font.rasi"

/* ---- Load colors ---- */
@theme "~/.config/rofi/colors.rasi"

/* ---- Load wallpaper ---- */
@import "~/.config/K480X/cache/current_wallpaper.rasi"

/* ---- Load border width ---- */
@import "~/.config/K480X/settings/rofi-border.rasi"

/* ---- Load border radius ---- */
@import "~/.config/K480X/settings/rofi-border-radius.rasi"

/* ---- Map colors ---- */
* {
    color11: @primary;
    color5: @on-primary-fixed;
    foreground: @on-surface;
    background: rgba(0,0,1,0.5);
}

// Main //
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       35%;
    x-offset:                    0px;
    y-offset:                    0px;
    
    /* properties for all widgets */
    enabled:                     true;
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border:                      @border-width;
    border-color:                @color11;
    border-radius:               @border-radius;
    background-color:            @background;
}

mainbox {
    enabled:                     true;
    spacing:                     10px;
    padding:                     20px;
    margin:                      0px;
    background-color:            transparent;
    background-image:            @current-image;
    children:                    [ "inputbar", "message", "custombox" ];
}

custombox {
    spacing:                     0px;
    background-color:            @background;
    text-color:                  @foreground;
    orientation:                 horizontal;
    children:                    [ "mode-switcher", "listview" ];
}

// Inputs //
inputbar {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     8px 12px;
    background-color:            transparent;
    text-color:                  @foreground;
    children:                    [ "textbox-prompt-colon", "entry"];
}

prompt {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "  ";
    padding:                     5px 0px;
    text-color:                  @foreground;
    border-radius:               2em 0em 0em 2em;
    background-color:            @color5;
}

entry {
    enabled:                     true;
    border-radius:               0em 2em 2em 0em;
    padding:                     5px 0px;
    background-color:            @color5;
    text-color:                  @foreground;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}
num-filtered-rows {
    enabled:                     true;
    expand:                      false;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-num-sep {
    enabled:                     true;
    expand:                      false;
    str:                         "/";
    background-color:            inherit;
    text-color:                  inherit;
}
num-rows {
    enabled:                     true;
    expand:                      false;
    background-color:            inherit;
    text-color:                  inherit;
}
case-indicator {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}

// Lists //

listview {
    padding:                     10px;
    margin:                      0px;
    spacing:                     5px;
    enabled:                     true;
    columns:                     1;
    lines:                       6;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @foreground;
}
scrollbar {
    handle-width:                2px ;
    background-color:            @color5;
}


// Modes //
mode-switcher {
    orientation:                 vertical;
    width:                       6.6em;
    enabled:                     true;
    padding:                     1.5em;
    spacing:                     1.5em;
    background-color:            transparent;
}

button {
    cursor:                      pointer;
    border-radius:               2em;
    background-color:            @background;
    text-color:                  @foreground;
}

button selected {
    background-color:            @color5;
    text-color:                  @foreground;
}


// Elements //
element {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0.5em;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @foreground;
}

element selected.normal {
    background-color:            @color5;
    text-color:                  @foreground;
    border-radius:               1.5em;
}

element normal.normal {
    background-color:            inherit;
    text-color:                  @foreground;
}

element normal.urgent {
    background-color:            inherit;
    text-color:                  @foreground;
}

element normal.active {
    background-color:            inherit;
    text-color:                  @foreground;
}

element selected.urgent {
    background-color:            inherit;
    text-color:                  @foreground;
}

element selected.active {
    background-color:            inherit;
    text-color:                  @foreground;
}

element alternate.normal {
    background-color:            inherit;
    text-color:                  @foreground;
}

element alternate.urgent {
    background-color:            inherit;
    text-color:                  @foreground;
}

element alternate.active {
    background-color:            inherit;
    text-color:                  @foreground;
}

element-icon {
    size:                        3em;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
    border-radius:               0em;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.1;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}

message {
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    background-color:            transparent;
    text-color:                  @foreground;
}

// Error message //
error-message {
    text-color:                  @foreground;
    background-color:            @background;
    text-transform:              capitalize;
    children:                    [ "textbox" ];
}

textbox {
    text-color:                  inherit;
    background-color:            inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
