[Unit]
Description=Run update check at boot and every 6 hours

[Timer]
OnBootSec=2min
OnUnitActiveSec=6h
Persistent=true

[Install]
WantedBy=default.target

